Header set Access-Control-Allow-Origin "*"
# Header set Access-Control-Allow-Credentials "true";
# Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS";
# Header set Access-Control-Allow-Headers "DNT,X-Mx-ReqToken,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type, origin, accept";

RewriteEngine On
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]